[submodule "backup"]
	path = backup
	url = git@github.com:mildred/backup.git
[submodule "mail"]
	path = mail
	url = git@github.com:mildred/mail-dovecot-postfix-vmail-config.git
[submodule "http/www"]
	path = http/www
	url = git@github.com:mildred/mildred.fr.git
[submodule "git/gitolite"]
	path = git/gitolite
	url = git://github.com/sitaramc/gitolite
